*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto',sans-serif;
    background:#fff; 
    color: #000;
    font-size:15px;
    line-height:1.5;
    height: 100%;
}

a{
    color:#262626; 
    text-decoration:none;
}

ul {
    list-style:none;
}

.contenedor {
    width: 100%;
    max-width: 1100px; 
    margin:auto;
}

/*modal*/
.js-error{
    font-size: 14px;
    font-style: bold;
    font-family:'Roboto',sans-serif;
    color: red;
    text-align: left;
}
.registro-formulario input:focus{
    border: 2px solid black;
}

.login{
    display:none; 
    position:fixed;
    z-index:1;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.5);
}
.login-formulario{ 
    background-color:white;
    margin:2% auto; 
    width:330px; 
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:abrir-modal;
    animation-duration:1s;
    color:#333;
    padding:20px;
    text-align:right;
}

.login-formulario h2{
    margin-top:20px;
    text-align:left;
    font-family:'Roboto',sans-serif;
}

.login-formulario input{
    display:block;
    width:100%;
    padding: 0 16px;
    height: 44px;
    outline:none;
   
}

.casilla-formulario{
    margin:20px 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.boton-acceder, .boton-nuevo {
    margin-top:20px;
    margin-bottom:20px;
    cursor:pointer;
    transition:0.8s;
    font-family: 'Roboto',sans-serif;
    font-weight: 550;
    letter-spacing: 0.05em;
}
.boton-acceder{
    background-color:rgba(68, 63, 63, 0.904);
    border:0.10em solid rgba(68, 63, 63, 0.904);
    color:white;
    margin-bottom:30px;
    margin-top:40px;
}
.boton-nuevo {
    background-color:white;
    border:0.10em solid rgb(36, 33, 33);
    color:black;
    margin-bottom:60px;
}

.boton-nuevo:focus, .boton-nuevo:hover, .boton-acceder:focus, .boton-acceder:hover{
    background-color:black;
    color:white;
}

.login-formulario a{
    text-align:right;
    color:black;
    font-size:12px;
    transition:0.8s;
}

.form2{
    padding-top: 20px ;
}

.closes-login {
    color: rgba(85, 90, 94, 0.5);
    float:right;
    font-size:30px;
    margin-top:-20px;
}

.closes-login:hover,.closes-login:focus{
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

@keyframes abrir-modal{ 
    from {opacity:0}
    to {opacity:1}
}

/* Nav */
.main-nav{
    display: flex; 
    align-items:center; 
    justify-content: flex-end;
    height: 60px;
    padding: 30px 0 80px 0;
    font-size:16px;
}   

#busqueda{
    font-size: 14px;
    padding: 5px 20px 0 0;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    width:250px;
    text-align:center;
}
.boton-busqueda{
    background:white;
    border:none;
    cursor:pointer;
    font-size:16px;
}

.main-nav ul{ 
    display:flex; 
}

.main-nav ul li {
    padding: 0 10px; 
}

.main-nav ul li a{ 
    padding-bottom:2px; 
}

.main-nav ul li a:hover{ 
    border-bottom: 2px solid #262626;
}

.boton-menu:hover{ 
    cursor:pointer;
    opacity:0.6;
}    
.home{
    margin-right:auto;
    margin-left: 10px;
    font-family: Anton', sans-serif;
}

.escaparate{
    width:100%; 
    height:550px; 
    background: url('../public/img/home.jpg') center center/cover; 
    display:flex;
    flex-direction:row;
    align-items: flex-start;
    text-align: right;
    justify-content:flex-end;
    padding-bottom:50px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 50px;
    line-height: 40px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.escaparate h3, .escaparate h2 {
    padding: 20px 20px;
    margin: 20px 20px 0 0;
    color: white;
}

/*PANEL DE USUARIO*/
.user-title{
  
    text-align:left;
}
.user-panel{
    display:grid;
    grid-template-columns:1fr 1fr;
   
    text-align: center;
    margin: 0 0 0 100px;
}
.user-panel a{
    padding:0 0 80px 0;
    text-transform:uppercase;
}
.user-panel i{
    font-size: 35px;
    color: #333;
    padding: 80px 0 25px 0;
}
.user-panel a:hover, a:active, i:hover, i:active{
    cursor:pointer;
    color: rgba(0, 0, 0, 0.7);
}

.show-errors{
    color:  rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: 19px;
    text-align: center;
    padding-top: 20px;
}

/*confirmación de pedido*/
.order-container{
    padding-top: 50px;
    text-align:center; 
    margin:auto;
}
.order-container img{
    width: 10%;
}
.order-container h3{
    padding: 20px 0;
    font-size: 25px;
}
.cart-title{
    padding: 20px 0 50px 0;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.05em;
}

/*carrito*/
.cart {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}
.empty-cart {
    text-align:center; 
    margin:auto;
    padding: 80px 0 100px 0;
}
.empty-cart img{
    width: 150px;
    padding-bottom: 30px;
}
.empty-cart h4{
    padding: 30px 0px 50px 0px;
}
.empty-cart a{
        cursor:pointer;
        background-color:white; 
        border:0.20em solid rgba(0,0,0,0.9); 
        color:rgba(0,0,0,0.9);
        /* transition:0.9s; */
        text-transform: uppercase;
        font-family: 'Roboto',sans-serif;
        font-weight: 900;
        font-size: 17px;
        padding: 15px 35px 15px 35px;
        margin:auto;
        width: 45%;
        word-spacing: 0.08em;
        letter-spacing: 0.05em;
}
    
.empty-cart a:focus, .empty-cart a:hover{
    border:0.20em solid black;
    color: black;
}

.empty-cart a:hover i, .buy button:hover i{ 
    margin-left:10px;
     transition:0.8s;
}
.full-cart {
    overflow-x:auto;
    width: 80%;
    padding-top: 50px;
}
.full-cart table{
    width: 100%;
    border-collapse: collapse;
}

.full-cart td:nth-child(1) {
        width: 15%;
}
      
.full-cart td:nth-child(2) {
        width: 40%;
        text-transform: uppercase;
        font-weight: 700;
        text-align: left;
    }
      
.full-cart td:nth-child(3) {
        width: 20%;
        text-align: center;
        font-size: 15px;
}
.full-cart td:nth-child(3) i {
    font-size: 10px;   
}
      
.full-cart td:nth-child(4) {
        width: 20%;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
}

.full-cart td:nth-child(5) {
  font-size: 18px;
  text-align: right;
  color: #333;
}

.full-cart td i {
    color: rgba(0,0,0,0.5);
}
.full-cart td i:hover, .full-cart td i:active {
    color: rgba(0,0,0,1);
}

.full-cart td {
    text-align: left;
    padding: 20px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.full-cart img{
        max-width: 100%;
        height: 100%; 
        object-fit: contain;
}
.container-img-cart{
    width: 70px;
    height: 70px;
}

.cart-options{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 50px 0 70px 0;
}

.cart-options .empty{
    flex: 1;
}
.cart-options button, .cart-options a{
    cursor:pointer;
    background-color:white;
    border:0.20em solid rgba(0,0,0,0.8);  
    color:rgba(0,0,0,0.9);
    transition:0.8s;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 14px;
    padding: 12px 30px 12px 30px;
    margin-right: 10px;
    word-spacing: 0.08em;
    letter-spacing: 0.05em;
}
.cart-options a{
    padding: 10px 30px;
}

.buy{
    display:flex;
    justify-content: end;
}

.buy button{
    cursor:pointer;
    background-color:white;
    border:0.20em solid rgba(0,0,0,0.8);  
    color:rgba(0,0,0,0.9);
    transition:0.8s;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 17px;
    padding: 15px 35px;
    word-spacing: 0.08em;
    letter-spacing: 0.05em;
}
.cart-options a:hover, .cart-options a:active, .cart-options button:hover, .cart-options button:active{
    border:0.20em solid rgba(0,0,0,0.8); 
    color:white; 
    background-color:rgba(0,0,0,0.8);
    transition:0.8s;    
}

.buy button:hover .buy button:active{
    color:white; 
    background-color:rgba(0,0,0,0.8);
}

.footer{
    width: 100%;
    background-color: #333;
    color: whitesmoke;
    font-size:14px;
    margin-top: 150px;
    padding:30px 0;
    text-transform: uppercase;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 0.05em;
}

.footer ul{
    display:flex;
    justify-content: space-around;
}

.footer a{
    color: whitesmoke;
}

/*REVIEWS*/
 .old-comments{ 
    padding: 20px 0 60px 0; 
} 
.old-comments > div{
    padding-top: 20px;
}
.add-comment {
    border:  1px rgb(151, 151, 151) solid;
    width: 50%;
    padding: 25px;
}
.add-comment > form > div{
    padding-top: 20px;
}
.add-comment input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border-radius: 2px;
    border: 1px solid grey;

}
.add-comment input:focus, .add-comment textarea:focus{
    border-color:black;
}

.add-comment h2{
    padding-bottom: 20px;
}
.add-comment label{
    display:inline-block;
}
.add-comment .send-comment{
    padding: 10px 50px;
    margin: 30px 0 10px 0;
    letter-spacing: 0.1em; 
}

.error-review{
    color:red;
}

/*registro*/
.registro-formulario input:focus{
    border-bottom: 2px solid black;
    border-right: hidden;
    border-top:hidden;
    border-left:hidden;
}

.registro-formulario{
    font-family:'Roboto',sans-serif;
    padding: 30px 30px 30px 70px;
    width:60%;
}

.registro-formulario h2{
    padding: 30px 0px 30px 110px;
}

.registro-formulario  ul {
    width: 100%;
    padding-left: 110px;
}

.entero{
    display: inline-block;
    width:99%;
    padding-bottom: 30px;
}
.columnas {
    width: 49%;
    display: inline-block;
    padding-bottom: 30px;
}
.registro-formulario li{
    height: 100px;
}
.registro-formulario ul li > * {
    width: 100%;
}

.registro-formulario input{
    outline:none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    background-color:white;
    padding:20px 10px 5px 10px;
    font-size:17px;
}

.registro-formulario .error{
    border-color:red;
}

.error-message{
    position:absolute;
    color:red;
    font-size: 13px;
    padding:5px 0px 0px 10px;
    
}
.enviar-form{
    cursor:pointer;
    background-color:rgba(68, 63, 63, 0.904);
    border:0.10em solid rgba(68, 63, 63, 0.904);
    color:white;
    transition:0.8s;
    font-family: 'Roboto',sans-serif;
    font-weight: 550;
    padding: 15px 15px 15px 15px;
    margin:45px 15px 0px 110px;
    width: 45%;
    letter-spacing: 0.05em;
    float: center;
}

.enviar-form:focus, .enviar-form:hover{
    background-color:black;
    color:white;
}

/*productos de una categoría*/
.grid-galeria{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom:40px;
}

.grid-galeria img{
    width:100%;
}

.review-product{
    color: #333;
    text-transform: uppercase;
    font-size: 15px;
}
/*detalles de producto*/
.reviews{
    width: 90%;
    margin:auto;
}
.reviews h3{
    padding-bottom: 20px;
}
.reviews h4{
    font-weight: 700;
    padding-right: 10px;
    text-transform: uppercase;
}
.reviews p{
    color: #333;
    font-style: italic;
}
.review-title{
    display:flex;
    justify-content: flex-start;
    font-style: italic;
}
.review-card{
    padding-bottom: 20px;
}

.show-product{
    display:flex;
    justify-content: space-around;
    margin:auto;
    width:90%;
    min-height:80vh;
}
.product-img{
    flex: 1;
}
.product-img img{
    flex: 1;
    height: 60vh;
}
.product-text{
    flex: 2;
}
.product-text h3{
    font-size: 30px;
    text-transform:uppercase;
    padding-bottom: 20px;
}

.product-text .price{
    font-size:20px;
    padding-bottom: 20px;
    color:gray;
}

.product-text .description{
    padding-top: 30px;
    font-size: 16px;
}

.show-product .boton-comprar{  
    padding: 14px 80px;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    font-size: 15px;
}

.boton-menu{
    padding-left: 10px;
    padding-right: 20px;
}
.main-nav ul.otromenu{
    display: block; 
    position:absolute;
    top: 60px;
    left: 0;
    background: white;
    opacity: 0.9;
    width:35%;
    height: 100%;
    padding: 60px 0 50px 100px;
    transform: translateX(-500px);
}

.main-nav ul.otromenu li{
    padding-bottom: 40px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}
.main-nav ul.otromenu.show{
    transform: translateX(0px);
}

.add-comment{
    text-align: left;
    border: none;
}
.home{
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3px;
}

.login2 h2{
    text-align: center;
}